html
  head
    title
      | Animal Care
    link(rel='stylesheet', href='../static/index.css')
    meta(charset='utf-8')
  body
    .navbar
      a(href='mypets') My Pets
      .dropdown
        button.dropbtn
          | Animals
          i.fa.fa-caret-down
        .dropdown-content
          a(href='gatos') Cats
          a(href='perros') Dogs
          a(href='peces') Fish
      if user
        li(style='float:right')  
          a(href='/logout') Logout
      else
        li(style='float:right')
          a(href='/login') Login
        li(style='float:right')  
          a(href='/register') Register  
  main(align='center')
    h1.log Login
    form(method= 'Post', action='/login')
      #form-group
        label UserName:
        input.form-control(name='username', type='text')
      br
      #form-group
        label Password:
        input.form-control(name='password', type='password')
      br
      input.btn.btn-primary(type='submit',value='Submit')
