html
  head
    title
      | Animal Care
    link(rel='stylesheet', href='../static/index.css')
    script(src= '../static/jquery.js')
    script(src= '../static/main.js')  
    meta(charset='utf-8')
  body
    header
      h1(align='center')
        | Animal Care
    main
      .navbar
        a(href='main') Profile
        a(href='mypets') My Pets
        .dropdown
          button.dropbtn
            | Animals
            i.fa.fa-caret-down
          .dropdown-content
            a(href='gatos') Cats
            a(href='perros') Dogs
            a(href='peces') Fish
        ul.nav.nav
          li(style='float:right')
            a(href='/login') Login
          li(style='float:right')
            a(href='/register') Register
    h3= pets.name
    hr
    a.btn.btn.default(href='/pet/edit/'+pets._id) Edit
    br
    a.btn.btn-danger.delete-pet(href='/mypets',data-id=pets._id) Delete
